:root {
    --headerBackground-color: white;
    --mainBackground-color: #DAE0E6;
    --mainPadding: 20px 100px;
}

body {
    margin: 0;
    background-color: var(--mainBackground-color);
    color: #1a1a1b;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

header {
    background-color: var(--headerBackground-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mainPadding);
    box-shadow: 0 0 5px black;
}

h1 {
    margin: 0;
}

.buttons {
    display: flex;
    gap: 5px;
}

.buttons > button:first-child {
    margin: 0 5px 0 0;
}

main > div:first-child {
    margin: 20px 0 0 100px;
}

form {
    display: flex;
    gap: 20px;
}

.search {
    display: flex;
    box-shadow: 0 0 5px black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

form input[type="search"] {
    padding: 10px;
    border: none;
    width: 500px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

form input[type="search"]:focus {
    outline: none;
}

.searchBttn {
    border-radius: 0;
}

form button {
    padding: 5px;
}

.searchedProperties {
    display: grid;
    gap: 20px;
    margin: 20px 100px;
}

.card {
    background-color: var(--mainBackground-color);
    overflow-wrap: break-word;
}

h2 {
    margin: 0;
}

.card p:last-child {
    line-height: 1.375em;
}

dialog {
    border-radius: 8px;
}

dialog::backdrop {
    backdrop-filter: blur(2px);
}

dialog > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

dialog > div > button {
    display: grid;
    place-content: center;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    transition: .2s;
}

dialog > form {
    display: grid;
    row-gap: 20px;
}

dialog > form > div {
    display: flex;
    flex-direction: column;
}

dialog > form label, form legend {
    font-size: 1.25em;
}

dialog > form fieldset label {
    font-size: 1.1em;
}

dialog > form fieldset {
    display: grid;
    row-gap: 5px;
    border: none;
}

dialog > form > button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #008ECE;
    color: #F8F8F8;
}

textarea {
    height: 200px;
}